@model Models.BigViewModel

@{
    ViewData["Title"] = "MyMovie";
}

<h1>MyMovie</h1>
@for (int i = 0; i < Model.ReviewTask_RA.Count(); i++)
{
<div>
    <img src="@Html.DisplayFor(Model => Model.MovieDetail[i].Poster)" />
    <h3>@Html.DisplayFor(Model => Model.MovieDetail[i].Title)</h3>
    <hr />
    <h6>Comment</h6>
    <p>@Html.DisplayFor(Model => Model.ReviewTask_RA.ElementAt(i).Comment)</p>
    <h6>Score</h6>
    <p>@Html.DisplayFor(Model => Model.ReviewTask_RA.ElementAt(i).Score)</p>
    <div>
        <a asp-action="Delete" asp-route-id="@Model.ReviewTask_RA.ElementAt(i).Id">Delete</a>
        <p>|</p>
        <a asp-action="Update" asp-route-id="@Model.ReviewTask_RA.ElementAt(i).UserId" asp-route-number="@i" >Edit</a>
    </div>
</div>
}


